# MongoDB Atlas Connection String
# Replace <db_username>, <db_password>, <db_cluster_address> and <db_name> with your own credentials and configuration.
# For example: mongodb+srv://myUser:myPassword@cluster0.abcde.mongodb.net/StudentDB?retryWrites=true&w=majority
MONGODB_URI=mongodb+srv://<db_username>:<db_password>@<db_cluster_address>/StudentDB?retryWrites=true&w=majority

# Application Port (optional, default is 3000)
PORT=3000
